<div *ngIf="loading$ | async" class="spinner">
    <!-- <app-loading-spinner></app-loading-spinner> -->
</div>
  
<div *ngIf="error$ | async as error" class="error">
    {{ error.message }}
</div>

<div class="flex flex-wrap pb-2 justify-around">
    <p-panel class="panel flex flex-col justify-between min-h-60" 
    *ngFor="let status of taskStatus$" 
    [header]="status" [toggleable]="true"
    pDroppable (onDrop)="drop(status)"> 
        @for (task of tasks$ | async; track $index) {
            <app-task-item 
            class="mt-2 w-full" 
            *ngIf="task.status == status" 
            [task]="task" 
            (deleted)="onDelete(task)"
            pDraggable (onDragStart)="dragStart(task)" 
            (onDragEnd)="dragEnd()"></app-task-item>
        } 
    </p-panel>
</div>
