<div class="home h-screen flex justify-center items-center">
    <div #luffyId class="luffy-jump absolute left-56">
        <img src="./assets/images/luffy-gear5-jump.gif" alt="luffy-jump" width="150"/>
    </div>
    <div #title class="font-mono text-3xl text-center bg-slate-300/50 rounded-lg p-4">{{title}}</div>
</div>
<div class="home-section h-screen flex justify-center items-center">
    <button>
        <a routerLink="/tasks" class="text-black font-mono text-3xl text-center bg-slate-300/50 rounded-lg p-4">Go to Tasks</a>
    </button>
</div>
